{% extends "Layout/layout.twig" %}

{% block assets %}
     {{ assets({files: ['Login/login.css']}) }}
{% endblock %}

{% block content %}

    
            <div class="container">
                 <div class="card card-container">
                 <div class="text-center mb-4">
            <h4>Forgot your password?</h4>
            <p class="badge badge-success">{{newPassword}}</p>
          </div>
       
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"> </p>
            <form class="form-signin" method="POST" action="{{ path_for("changePassword") }}">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                
                 <button class="btn btn-lg btn-primary btn-block btn-block" type="submit">Reset Password</button>
            </form><!-- /form -->
          <div class="text-center">
            <a class="d-block small" href="{{path_for('login')}}">Click here to Login</a>
          </div>
        </div><!-- /card-container -->
    </div><!-- /container -->
 
    {% endblock %}